body {
  font-family: verdana;
  font-size: 20px;
  background-color: #fef7e6;
}

.window {
  width: 375px;
  height: 400px;
  padding: 10px;
  background-color: #ffffff;
  position: relative;
  display: block;
  margin: auto;
  margin-top: 5rem;
  box-shadow: 0rem 0.5rem 0.9rem rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.logo2 {
  width: 180px;
  height: 130px;
  display: block;
  margin: auto;
  margin-top: 10px;
}
.logintext2 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: block;
  color: #67755c;
  margin: -10px 10px 0px 0px;
}
/*個人登入*/
.account i {
  position: absolute;
  left: 30px;
  top: 230px;
  font-size: 15px;
  color: #67755c;
}
.password i {
  position: absolute;
  left: 30px;
  top: 285px;
  font-size: 15px;
  color: #67755c;
}

.account input {
  display: block;
  width: 85%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  height: 40px;
}

.password input {
  display: block;
  width: 85%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  height: 40px;
}

.loginbutton {
  width: 70px;
  height: 25px;
  position: absolute;
  display: block;
  margin: 0px 200px 30px 153px;
  background-color: #ffe000;
  border: 1px;
  border-radius: 15px;
  box-shadow: 0 3px #67755c;
  font-size: 15px;
}
.loginbutton:hover {
  background-color: #ffe000;
  color: #67755c;
  border: 1px solid #fef7e6;
}

.loginbutton:active {
  background-color: #ffe000;
  transform: translateY(4px);
}
.forget {
  display: inline-block;
  font-size: 13px;
  margin: 40px 40px 5px 80px;
}
.row {
  display: inline-block;
  font-size: 13px;
  margin: 40px 0px 5px 0px;
}
.register {
  display: inline-block;
  font-size: 13px;
  margin: 40px 0px 10px 35px;
}
.forget:hover,
.register:hover {
  color: #ffe000;
}
.divide {
  height: 35px;
  line-height: 20px;
  text-align: center;
}
.divide .line {
  display: inline-block;
  width: 33%;
  border-top: 1px solid;
}
.divide .txt {
  color: #555;
  vertical-align: middle;
  font-size: 12px;
}
.fa-facebook {
  font-size: 30px;
  color: #2e76aa;
  margin: -5px 10px 5px 150px;
}
.fa-google-plus {
  font-size: 30px;
  color: #e04646;
  margin: -5px 20px 5px 5px;
}
.fa-eye,
.fa-eye-slash {
  position: absolute;
  right: 200px;
}
#eye,
#eye1,
#eye2 {
  position: absolute;
  left: 340px;
}
