body {
  font-family: verdana;
  font-size: 20px;
  background-color: #fef7e6;
}

.logo {
  width: 180px;
  height: 130px;
  display: inline;
  margin-left: 550px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.logintext {
  text-align: center;
  display: block;
  color: #627879;
  margin-top: -10px;
  margin-bottom: 0px;
  font-size: 24px;
}
.list {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 85px;
  height: 85px;
  background-color: #ffe000;
  border-radius: 50%;
  position: relative;
  border: #627879 2px solid;
  font-size: 16px;
  color: #627879;
  font-weight: bolder;
}
.list li i {
  font-size: 25px;
  color: #627879;
  margin-bottom: 6px;
}
.list li + li {
  margin-left: 80px;
}
.list li + li::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #627879;
  top: 0;
  bottom: 0;
  left: -82px;
  margin: auto;
}
.list li.active ~ li {
  background-color: white;
}
.list li.active ~ li::before {
  background-color: #627879;
}
table {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 3px 3px 9px darkgray;
  margin-left: 400px;
  margin-right: auto;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
}
td {
  padding-bottom: 10px;
}
.topname {
  font-size: 18px;
}
.name,
.pwd,
.pw2,
.phone,
.email {
  width: 300px;
  height: 30px;
  margin-left: 10px;
  margin-right: -20px;
}

.fa-eye,
.fa-eye-slash {
  position: relative;
  right: 10px;
  margin-top: 5px;
  font-size: 18px;
  color: #627879;
}
.register {
  width: 70px;
  height: 25px;
  position: relative;
  left: 190px;
  background-color: #ffe000;
  border: 1px;
  border-radius: 15px;
  box-shadow: 0 3px #627879;
  font-size: 15px;
}

.register:hover {
  background-color: #ffe000;
  color: #627879;
  border: 1px solid #fef7e6;
}

.register:active {
  background-color: #ffe000;
  transform: translateY(4px);
}

.registertext {
  color: red;
  font-size: 13px;
  padding-top: 10px;
}
.name {
  margin-top: 8px;
}
